.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.form-element {
  font-family: "Nunito", sans-serif;
  padding-left: 10px;
  padding-bottom: 10px;
}

.submit {
  font-family: "Nunito", sans-serif;
  display: flex;
  width: 5em;
  justify-content: flex-start;
}
