.color-strip {
  background-color: rgb(189, 48, 48);
  width: 100%;
  height: 5em;
}

.site-header {
  display: flex;
  flex-direction: row;
  max-width: 90%;
  align-items: center;
  justify-content: center;
  height: 15%;
  background-color: transparent;
}

#site-title {
  font-family: "Fredericka the Great", cursive;
  font-size: 70px;
  color: black;
  padding: 10px 70px;
}

#title {
  text-decoration: none;
  color: black;
  font-weight: normal;
}

#nav-bar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  max-width: 450px;
  padding: 10px 15px 10px 15px;
  background-color: rgb(255, 214, 209);
  border-radius: 10px;
  font-size: 20px;
  color: black;
}

.nav-tab {
  text-decoration: none;
  color: black;
}

.nav-tab-text {
  font-family: "Nunito", sans-serif;
  padding-left: 10px;
}

@media (max-width: 1118px) {
  #site-title,
  #nav-bar {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 995px) {
  .site-header {
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
  }

  #site-title {
    padding: 0px 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  #nav-bar {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}
